[data-md-color-scheme="default"] {
    --md-typeset-a-color:  #0d47a1;
    --md-primary-fg-color: #0d47a1;
    --md-accent-fg-color:  #1E88E5;
}

[data-md-color-scheme="slate"] {
    --md-typeset-a-color:  #1E88E5;
    --md-primary-fg-color: #1E88E5;
    --md-accent-fg-color:  #0d47a1;
}
